In [128]:
#!/usr/bin/env python
# coding: utf-8

import pandas as pd
import requests
import zipfile
import io
import re   
import calendar
import openpyxl

In [129]:
URL = "https://sidra.ibge.gov.br/geratabela?format=xlsx&name=tabela7060.xlsx&terr=N&rank=-&query=t/7060/n1/all/v/all/p/all/c315/7169,7170,7445,7486,7558,7625,7660,7712,7766,7786/d/v63%202,v66%204,v69%202,v2265%202/l/,v%2Bt%2Bp,c315"

r = requests.get(URL)
r = r.content

In [130]:
raw = pd.ExcelFile(r)
raw = pd.read_excel(raw)
raw.head

<bound method NDFrame.head of    Tabela 7060 - IPCA - Variação mensal, acumulada no ano, acumulada em 12 meses e peso mensal, para o índice geral, grupos, subgrupos, itens e subitens de produtos e serviços (a partir de janeiro/2020)  \
0              Geral, grupo, subgrupo, item e subitem
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                        Índice geral
5                             1.Alimentação e bebidas
6                                         2.Habitação
7                             3.Artigos de residência
8                                         4.Vestuário
9                                       5.Transportes
10                        6.Saúde e cuidados pessoais
11                                7.Despesas pessoais
12                                         8.Educação
13                                      9.Comunicação
14  Fonte: IBGE - Índice Nacional de Preços ao Con...

                    Unnamed: 1      Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0               Variável x Mês             NaN         NaN         NaN
1   IPCA - Variação mensal (%)             NaN         NaN         NaN
2                       Brasil             NaN         NaN         NaN
3                 janeiro 2020  fevereiro 2020  março 2020  abril 2020
4                         0.21            0.25        0.07       -0.31
5                         0.39            0.11        1.13        1.79
6                         0.55           -0.39        0.13        -0.1
7                        -0.07           -0.08       -1.08       -1.37
8                        -0.48           -0.73        0.21         0.1
9                         0.32           -0.23        -0.9       -2.66
10                       -0.32            0.73        0.21       -0.22
11                        0.35            0.31       -0.23       -0.14
12                        0.16             3.7        0.59           0
13                        0.12            0.21        0.04        -0.2
14                         NaN             NaN         NaN         NaN

   Unnamed: 5  Unnamed: 6  Unnamed: 7   Unnamed: 8     Unnamed: 9  ...  \
0         NaN         NaN         NaN          NaN            NaN  ...
1         NaN         NaN         NaN          NaN            NaN  ...
2         NaN         NaN         NaN          NaN            NaN  ...
3   maio 2020  junho 2020  julho 2020  agosto 2020  setembro 2020  ...
4       -0.38        0.26        0.36         0.24           0.64  ...
5        0.24        0.38        0.01         0.78           2.28  ...
6       -0.25        0.04         0.8         0.36           0.37  ...
7        0.58         1.3         0.9         0.56              1  ...
8       -0.58       -0.46       -0.52        -0.78           0.37  ...
9        -1.9        0.31        0.78         0.82            0.7  ...
10       -0.1        0.35        0.44          0.5          -0.64  ...
11      -0.04       -0.05       -0.11        -0.01           0.09  ...
12       0.02        0.05       -0.12        -3.47          -0.09  ...
13       0.24        0.75        0.51         0.67           0.15  ...
14        NaN         NaN         NaN          NaN            NaN  ...

   Unnamed: 47 Unnamed: 48 Unnamed: 49  Unnamed: 50    Unnamed: 51  \
0          NaN         NaN         NaN          NaN            NaN
1          NaN         NaN         NaN          NaN            NaN
2          NaN         NaN         NaN          NaN            NaN
3    maio 2020  junho 2020  julho 2020  agosto 2020  setembro 2020
4          100         100         100          100            100
5      19.9696     20.0937     20.1194      20.0474        20.1553
6      15.5855     15.6048     15.5709      15.6402        15.6597
7       3.6487      3.6841      3.7222        3.742         3.7537
8       4.5263      4.5173      4.4849       4.4449         4.3994
9      19.8534     19.5495     19.5577      19.6398        19.7519
10     13.5533     13.5915     13.6048      13.6152        13.6502
11     10.7427     10.7785     10.7453      10.6963        10.6677
12      6.4098      6.4346      6.4198       6.3903         6.1531
13      5.7106      5.7461      5.7748       5.7838         5.8089
14         NaN         NaN         NaN          NaN            NaN

     Unnamed: 52    Unnamed: 53    Unnamed: 54   Unnamed: 55     Unnamed: 56
0            NaN            NaN            NaN           NaN             NaN
1            NaN            NaN            NaN           NaN             NaN
2            NaN            NaN            NaN           NaN             NaN
3   outubro 2020  novembro 2020  dezembro 2020  janeiro 2021  fevereiro 2021
4            100            100            100           100             100
5        20.4823        20.6985         21.037       21.1159         21.2779
6        15.6198        15.5426        15.4721       15.7065         15.4995
7         3.7668         3.7917         3.7903        3.8053          3.8281
8         4.3868         4.3974         4.3621        4.3285          4.3145
9        19.7627        19.8271        19.9125       19.9153         19.9472
10        13.478        13.4007        13.2657       13.1419         13.1514
11       10.6119        10.5415        10.4488       10.3787         10.3935
12        6.1103         6.0558         6.0007        5.9514          5.9442
13        5.7815         5.7448         5.7108        5.6564          5.6437
14           NaN            NaN            NaN           NaN             NaN

[15 rows x 57 columns]>

In [131]:
categoria = raw.iloc[4:14, 0]
categoria = categoria.rename()
categoria = categoria.reset_index(drop=True)
categoria_str = []
for i in categoria:
    cat = i.split(".")
    cat_pass = []
    for i in cat:
        if not i.isnumeric():
            cat_pass.append(i)
            
    categoria_str.append(cat_pass)

categoria = [i[0] for i in categoria_str]
categoria = pd.Series(categoria)
categoria

0                 Índice geral
1        Alimentação e bebidas
2                    Habitação
3        Artigos de residência
4                    Vestuário
5                  Transportes
6    Saúde e cuidados pessoais
7            Despesas pessoais
8                     Educação
9                  Comunicação
dtype: object

In [132]:
last_time = raw.iloc[3, 1:]
num_month = int(len(last_time)/4)
last_time = pd.DataFrame(last_time)
last_time.columns = ["mes"]
last_time.reset_index()
last_time = last_time.query("mes == 'janeiro 2020'")
#print(last_time)
last_time = last_time.iloc[1, :]
last_time = last_time.name
last_time = int(last_time.split(" ")[1])
last_time, num_month

(15, 14)

In [133]:
time = raw.iloc[3, 1:last_time]
time = time.reset_index(drop=True)
time

0       janeiro 2020
1     fevereiro 2020
2         março 2020
3         abril 2020
4          maio 2020
5         junho 2020
6         julho 2020
7        agosto 2020
8      setembro 2020
9       outubro 2020
10     novembro 2020
11     dezembro 2020
12      janeiro 2021
13    fevereiro 2021
Name: 3, dtype: object

In [134]:
ipca_mes = raw.iloc[4:(last_time - 1), 1:last_time]
ipca_mes = ipca_mes.reset_index(drop=True)
ipca_mes.columns = time
ipca_mes

3,janeiro 2020,fevereiro 2020,março 2020,abril 2020,maio 2020,junho 2020,julho 2020,agosto 2020,setembro 2020,outubro 2020,novembro 2020,dezembro 2020,janeiro 2021,fevereiro 2021
0,0.21,0.25,0.07,-0.31,-0.38,0.26,0.36,0.24,0.64,0.86,0.89,1.35,0.25,0.86
1,0.39,0.11,1.13,1.79,0.24,0.38,0.01,0.78,2.28,1.93,2.54,1.74,1.02,0.27
2,0.55,-0.39,0.13,-0.1,-0.25,0.04,0.8,0.36,0.37,0.36,0.44,2.88,-1.07,0.4
3,-0.07,-0.08,-1.08,-1.37,0.58,1.3,0.9,0.56,1,1.53,0.86,1.76,0.86,0.66
4,-0.48,-0.73,0.21,0.1,-0.58,-0.46,-0.52,-0.78,0.37,1.11,0.07,0.59,-0.07,0.38
5,0.32,-0.23,-0.9,-2.66,-1.9,0.31,0.78,0.82,0.7,1.19,1.33,1.36,0.41,2.28
6,-0.32,0.73,0.21,-0.22,-0.1,0.35,0.44,0.5,-0.64,0.28,-0.13,0.4,0.32,0.62
7,0.35,0.31,-0.23,-0.14,-0.04,-0.05,-0.11,-0.01,0.09,0.19,0.01,0.65,0.39,0.17
8,0.16,3.7,0.59,0,0.02,0.05,-0.12,-3.47,-0.09,-0.04,-0.02,0.48,0.13,2.48
9,0.12,0.21,0.04,-0.2,0.24,0.75,0.51,0.67,0.15,0.21,0.29,0.39,0.02,-0.13

In [135]:
ipca_ano = raw.iloc[4:(last_time - 1), last_time:(last_time + num_month)]
ipca_ano = ipca_ano.reset_index(drop=True)
ipca_ano.columns = time
ipca_ano

3,janeiro 2020,fevereiro 2020,março 2020,abril 2020,maio 2020,junho 2020,julho 2020,agosto 2020,setembro 2020,outubro 2020,novembro 2020,dezembro 2020,janeiro 2021,fevereiro 2021
0,0.21,0.46,0.53,0.22,-0.16,0.1,0.46,0.7,1.34,2.22,3.13,4.52,0.25,1.11
1,0.39,0.5,1.63,3.45,3.7,4.09,4.1,4.91,7.3,9.37,12.14,14.09,1.02,1.3
2,0.55,0.15,0.28,0.18,-0.07,-0.04,0.76,1.12,1.5,1.86,2.3,5.25,-1.07,-0.67
3,-0.07,-0.15,-1.23,-2.58,-2.02,-0.74,0.16,0.72,1.73,3.28,4.17,6,0.86,1.52
4,-0.48,-1.21,-1,-0.9,-1.48,-1.94,-2.44,-3.21,-2.85,-1.77,-1.7,-1.13,-0.07,0.31
5,0.32,0.1,-0.8,-3.44,-5.28,-4.99,-4.25,-3.46,-2.79,-1.63,-0.32,1.03,0.41,2.7
6,-0.32,0.41,0.62,0.39,0.3,0.65,1.09,1.6,0.95,1.23,1.1,1.5,0.32,0.95
7,0.35,0.66,0.43,0.29,0.25,0.2,0.1,0.08,0.17,0.36,0.38,1.03,0.39,0.56
8,0.16,3.86,4.47,4.47,4.49,4.54,4.42,0.79,0.7,0.66,0.64,1.13,0.13,2.61
9,0.12,0.33,0.36,0.16,0.4,1.15,1.67,2.35,2.5,2.72,3.02,3.42,0.02,-0.11

In [136]:

ipca_12m = raw.iloc[4:(last_time - 1), (last_time + num_month):(last_time + 2 * num_month)]
ipca_12m = ipca_12m.reset_index(drop=True)
ipca_12m.columns = time
ipca_12m

3,janeiro 2020,fevereiro 2020,março 2020,abril 2020,maio 2020,junho 2020,julho 2020,agosto 2020,setembro 2020,outubro 2020,novembro 2020,dezembro 2020,janeiro 2021,fevereiro 2021
0,...,...,...,...,...,...,...,...,...,...,...,4.52,4.56,5.2
1,...,...,...,...,...,...,...,...,...,...,...,14.09,14.81,15
2,...,...,...,...,...,...,...,...,...,...,...,5.25,3.56,4.39
3,...,...,...,...,...,...,...,...,...,...,...,6,6.98,7.78
4,...,...,...,...,...,...,...,...,...,...,...,-1.13,-0.72,0.39
5,...,...,...,...,...,...,...,...,...,...,...,1.03,1.12,3.66
6,...,...,...,...,...,...,...,...,...,...,...,1.5,2.15,2.05
7,...,...,...,...,...,...,...,...,...,...,...,1.03,1.07,0.93
8,...,...,...,...,...,...,...,...,...,...,...,1.13,1.1,-0.09
9,...,...,...,...,...,...,...,...,...,...,...,3.42,3.32,2.98

In [137]:
peso = raw.iloc[4:(last_time - 1), (last_time + 2 * num_month):(last_time + 3 * num_month)]
peso = peso.reset_index(drop=True)
peso.columns = time

table_peso = pd.concat([categoria, peso], axis=1)
table_peso = table_peso.iloc[1:,:]
table_peso = table_peso.rename(columns={0: "Categoria"})

table_peso

,Categoria,janeiro 2020,fevereiro 2020,março 2020,abril 2020,maio 2020,junho 2020,julho 2020,agosto 2020,setembro 2020,outubro 2020,novembro 2020,dezembro 2020,janeiro 2021,fevereiro 2021
1,Alimentação e bebidas,19.3483,19.3816,19.3545,19.5588,19.9696,20.0937,20.1194,20.0474,20.1553,20.4823,20.6985,21.037,21.1159,21.2779
2,Habitação,15.5945,15.6461,15.547,15.5544,15.5855,15.6048,15.5709,15.6402,15.6597,15.6198,15.5426,15.4721,15.7065,15.4995
3,Artigos de residência,3.7529,3.7423,3.7298,3.6874,3.6487,3.6841,3.7222,3.742,3.7537,3.7668,3.7917,3.7903,3.8053,3.8281
4,Vestuário,4.577,4.5455,4.5008,4.5075,4.5263,4.5173,4.4849,4.4449,4.3994,4.3868,4.3974,4.3621,4.3285,4.3145
5,Transportes,20.5979,20.6217,20.5255,20.3299,19.8534,19.5495,19.5577,19.6398,19.7519,19.7627,19.8271,19.9125,19.9153,19.9472
6,Saúde e cuidados pessoais,13.5334,13.4612,13.5247,13.5438,13.5533,13.5915,13.6048,13.6152,13.6502,13.478,13.4007,13.2657,13.1419,13.1514
7,Despesas pessoais,10.733,10.7474,10.7541,10.7233,10.7427,10.7785,10.7453,10.6963,10.6677,10.6119,10.5415,10.4488,10.3787,10.3935
8,Educação,6.1485,6.1448,6.356,6.3893,6.4098,6.4346,6.4198,6.3903,6.1531,6.1103,6.0558,6.0007,5.9514,5.9442
9,Comunicação,5.7146,5.7096,5.7077,5.7055,5.7106,5.7461,5.7748,5.7838,5.8089,5.7815,5.7448,5.7108,5.6564,5.6437

In [138]:
ipca_mes_last = ipca_mes.iloc[:, -1]
ipca_ano_last = ipca_ano.iloc[:, -1]
ipca_12m_last = ipca_12m.iloc[:, -1]
table_main = pd.concat([categoria, ipca_mes_last, ipca_ano_last, ipca_12m_last], axis=1)
table_main.columns = ["", ipca_mes_last.name, "Acumulado no ano", "Acumulado 12 meses"]
table_main

,,fevereiro 2021,Acumulado no ano,Acumulado 12 meses
0,Índice geral,0.86,1.11,5.2
1,Alimentação e bebidas,0.27,1.3,15
2,Habitação,0.4,-0.67,4.39
3,Artigos de residência,0.66,1.52,7.78
4,Vestuário,0.38,0.31,0.39
5,Transportes,2.28,2.7,3.66
6,Saúde e cuidados pessoais,0.62,0.95,2.05
7,Despesas pessoais,0.17,0.56,0.93
8,Educação,2.48,2.61,-0.09
9,Comunicação,-0.13,-0.11,2.98

In [139]:
URL_HIST = "https://ftp.ibge.gov.br/Precos_Indices_de_Precos_ao_Consumidor/IPCA/Serie_Historica/ipca_SerieHist.zip"

hist_raw = requests.get(URL_HIST, stream=True)
hist_raw = zipfile.ZipFile(io.BytesIO(hist_raw.content))

hist_raw_filename = str(hist_raw.filelist[0])
hist_raw_filename = hist_raw_filename.split("'")[1]

hist_raw = hist_raw.read(hist_raw_filename)
hist_raw = pd.ExcelFile(hist_raw)
hist_raw = pd.read_excel(hist_raw)
hist_raw

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,SÉRIE HISTÓRICA DO IPCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(continua)
2,NaN,NaN,NaN,NaN,NaN,VARIAÇÃO,NaN,NaN
3,ANO,MÊS,NÚMERO ÍNDICE,(%),NaN,NaN,NaN,NaN
4,NaN,NaN,(DEZ 93 = 100),NO,3,6,NO,12
...,...,...,...,...,...,...,...,...
413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,NaN,NaN,NaN,NaN,NaN,,NaN,NaN

In [140]:
hist = hist_raw.iloc[7:len(hist_raw), [0,1,3]]
hist = hist.dropna(how="all")

#hist[0] = hist[0].fillna(method="ffill")
hist.iloc[:,0] = hist.iloc[:,0].fillna(method="ffill")
hist = hist.dropna()
hist.columns = ["ano", "mes", "valor"]
hist = hist[hist.valor != "(%)"]
hist = hist.reset_index(drop=True)
hist

      ano  mes  valor
0    1994  JAN  41.31
1    1994  FEV  40.27
2    1994  MAR  42.75
3    1994  ABR  42.68
4    1994  MAI  44.03
..    ...  ...    ...
321  2020  OUT   0.86
322  2020  NOV   0.89
323  2020  DEZ   1.35
324  2021  JAN   0.25
325  2021  FEV   0.86

[326 rows x 3 columns]

In [141]:
for i in range(len(hist)):
    print(list(hist.iloc[i,:]))

[1994, 'JAN', 41.31]
[1994, 'FEV', 40.27]
[1994, 'MAR', 42.75]
[1994, 'ABR', 42.68]
[1994, 'MAI', 44.03]
[1994, 'JUN', 47.43]
[1994, 'JUL', 6.84]
[1994, 'AGO', 1.86]
[1994, 'SET', 1.53]
[1994, 'OUT', 2.62]
[1994, 'NOV', 2.81]
[1994, 'DEZ', 1.71]
[1995, 'JAN', 1.7]
[1995, 'FEV', 1.02]
[1995, 'MAR', 1.55]
[1995, 'ABR', 2.43]
[1995, 'MAI', 2.67]
[1995, 'JUN', 2.26]
[1995, 'JUL', 2.36]
[1995, 'AGO', 0.99]
[1995, 'SET', 0.99]
[1995, 'OUT', 1.41]
[1995, 'NOV', 1.47]
[1995, 'DEZ', 1.56]
[1996, 'JAN', 1.34]
[1996, 'FEV', 1.03]
[1996, 'MAR', 0.35]
[1996, 'ABR', 1.26]
[1996, 'MAI', 1.22]
[1996, 'JUN', 1.19]
[1996, 'JUL', 1.11]
[1996, 'AGO', 0.44]
[1996, 'SET', 0.15]
[1996, 'OUT', 0.3]
[1996, 'NOV', 0.32]
[1996, 'DEZ', 0.47]
[1997, 'JAN', 1.18]
[1997, 'FEV', 0.5]
[1997, 'MAR', 0.51]
[1997, 'ABR', 0.88]
[1997, 'MAI', 0.41]
[1997, 'JUN', 0.54]
[1997, 'JUL', 0.22]
[1997, 'AGO', -0.02]
[1997, 'SET', 0.06]
[1997, 'OUT', 0.23]
[1997, 'NOV', 0.17]
[1997, 'DEZ', 0.43]
[1998, 'JAN', 0.71]
[1998, 'FEV', 0.46]
[1998, 'MAR', 0.34]
[1998, 'ABR', 0.24]
[1998, 'MAI', 0.5]
[1998, 'JUN', 0.02]
[1998, 'JUL', -0.12]
[1998, 'AGO', -0.51]
[1998, 'SET', -0.22]
[1998, 'OUT', 0.02]
[1998, 'NOV', -0.12]
[1998, 'DEZ', 0.33]
[1999, 'JAN', 0.7]
[1999, 'FEV', 1.05]
[1999, 'MAR', 1.1]
[1999, 'ABR', 0.56]
[1999, 'MAI', 0.3]
[1999, 'JUN', 0.19]
[1999, 'JUL', 1.09]
[1999, 'AGO', 0.56]
[1999, 'SET', 0.31]
[1999, 'OUT', 1.19]
[1999, 'NOV', 0.95]
[1999, 'DEZ', 0.6]
[2000, 'JAN', 0.62]
[2000, 'FEV', 0.13]
[2000, 'MAR', 0.22]
[2000, 'ABR', 0.42]
[2000, 'MAI', 0.01]
[2000, 'JUN', 0.23]
[2000, 'JUL', 1.61]
[2000, 'AGO', 1.31]
[2000, 'SET', 0.23]
[2000, 'OUT', 0.14]
[2000, 'NOV', 0.32]
[2000, 'DEZ', 0.59]
[2001, 'JAN', 0.57]
[2001, 'FEV', 0.46]
[2001, 'MAR', 0.38]
[2001, 'ABR', 0.58]
[2001, 'MAI', 0.41]
[2001, 'JUN', 0.52]
[2001, 'JUL', 1.33]
[2001, 'AGO', 0.7]
[2001, 'SET', 0.28]
[2001, 'OUT', 0.83]
[2001, 'NOV', 0.71]
[2001, 'DEZ', 0.65]
[2002, 'JAN', 0.52]
[2002, 'FEV', 0.36]
[2002, 'MAR', 0.6]
[2002, 'ABR', 0.8]
[2002, 'MAI', 0.21]
[2002, 'JUN', 0.42]
[2002, 'JUL', 1.19]
[2002, 'AGO', 0.65]
[2002, 'SET', 0.72]
[2002, 'OUT', 1.31]
[2002, 'NOV', 3.02]
[2002, 'DEZ', 2.1]
[2003, 'JAN', 2.25]
[2003, 'FEV', 1.57]
[2003, 'MAR', 1.23]
[2003, 'ABR', 0.97]
[2003, 'MAI', 0.61]
[2003, 'JUN', -0.15]
[2003, 'JUL', 0.2]
[2003, 'AGO', 0.34]
[2003, 'SET', 0.78]
[2003, 'OUT', 0.29]
[2003, 'NOV', 0.34]
[2003, 'DEZ', 0.52]
[2004, 'JAN', 0.76]
[2004, 'FEV', 0.61]
[2004, 'MAR', 0.47]
[2004, 'ABR', 0.37]
[2004, 'MAI', 0.51]
[2004, 'JUN', 0.71]
[2004, 'JUL', 0.91]
[2004, 'AGO', 0.69]
[2004, 'SET', 0.33]
[2004, 'OUT', 0.44]
[2004, 'NOV', 0.69]
[2004, 'DEZ', 0.86]
[2005, 'JAN', 0.58]
[2005, 'FEV', 0.59]
[2005, 'MAR', 0.61]
[2005, 'ABR', 0.87]
[2005, 'MAI', 0.49]
[2005, 'JUN', -0.02]
[2005, 'JUL', 0.25]
[2005, 'AGO', 0.17]
[2005, 'SET', 0.35]
[2005, 'OUT', 0.75]
[2005, 'NOV', 0.55]
[2005, 'DEZ', 0.36]
[2006, 'JAN', 0.59]
[2006, 'FEV', 0.41]
[2006, 'MAR', 0.43]
[2006, 'ABR', 0.21]
[2006, 'MAI', 0.1]
[2006, 'JUN', -0.21]
[2006, 'JUL', 0.19]
[2006, 'AGO', 0.05]
[2006, 'SET', 0.21]
[2006, 'OUT', 0.33]
[2006, 'NOV', 0.31]
[2006, 'DEZ', 0.48]
[2007, 'JAN', 0.44]
[2007, 'FEV', 0.44]
[2007, 'MAR', 0.37]
[2007, 'ABR', 0.25]
[2007, 'MAI', 0.28]
[2007, 'JUN', 0.28]
[2007, 'JUL', 0.24]
[2007, 'AGO', 0.47]
[2007, 'SET', 0.18]
[2007, 'OUT', 0.3]
[2007, 'NOV', 0.38]
[2007, 'DEZ', 0.74]
[2008, 'JAN', 0.54]
[2008, 'FEV', 0.49]
[2008, 'MAR', 0.48]
[2008, 'ABR', 0.55]
[2008, 'MAI', 0.79]
[2008, 'JUN', 0.74]
[2008, 'JUL', 0.53]
[2008, 'AGO', 0.28]
[2008, 'SET', 0.26]
[2008, 'OUT', 0.45]
[2008, 'NOV', 0.36]
[2008, 'DEZ', 0.28]
[2009, 'JAN', 0.48]
[2009, 'FEV', 0.55]
[2009, 'MAR', 0.2]
[2009, 'ABR', 0.48]
[2009, 'MAI', 0.47]
[2009, 'JUN', 0.36]
[2009, 'JUL', 0.24]
[2009, 'AGO', 0.15]
[2009, 'SET', 0.24]
[2009, 'OUT', 0.28]
[2009, 'NOV', 0.41]
[2009, 'DEZ', 0.37]
[2010, 'JAN', 0.75]
[2010, 'FEV', 0.78]
[2010, 'MAR', 0.52]
[2010, 'ABR', 0.57]
[2010, 'MAI', 0.43]
[2010, 'JUN', 0]
[2010, 'JUL', 0.01]
[2010, 'AGO', 0.04]
[2010, 'SET', 0.45]
[2010, 'OUT', 0.75]
[2010, 'NOV', 0.83]
[2010, 'DEZ', 0.63]
[2011, 'JAN', 0.83]
[2011, 'FEV', 0.8]
[2011, 'MAR', 0.79]
[2011, 'ABR', 0.77]
[2011, 'MAI', 0.47]
[2011, 'JUN', 0.15]
[2011, 'JUL', 0.16]
[2011, 'AGO', 0.37]
[2011, 'SET', 0.53]
[2011, 'OUT', 0.43]
[2011, 'NOV', 0.52]
[2011, 'DEZ', 0.5]
[2012, 'JAN', 0.56]
[2012, 'FEV', 0.45]
[2012, 'MAR', 0.21]
[2012, 'ABR', 0.64]
[2012, 'MAI', 0.36]
[2012, 'JUN', 0.08]
[2012, 'JUL', 0.43]
[2012, 'AGO', 0.41]
[2012, 'SET', 0.57]
[2012, 'OUT', 0.59]
[2012, 'NOV', 0.6]
[2012, 'DEZ', 0.79]
[2013, 'JAN', 0.86]
[2013, 'FEV', 0.6]
[2013, 'MAR', 0.47]
[2013, 'ABR', 0.55]
[2013, 'MAI', 0.37]
[2013, 'JUN', 0.26]
[2013, 'JUL', 0.03]
[2013, 'AGO', 0.24]
[2013, 'SET', 0.35]
[2013, 'OUT', 0.57]
[2013, 'NOV', 0.54]
[2013, 'DEZ', 0.92]
[2014, 'JAN', 0.55]
[2014, 'FEV', 0.69]
[2014, 'MAR', 0.92]
[2014, 'ABR', 0.67]
[2014, 'MAI', 0.46]
[2014, 'JUN', 0.4]
[2014, 'JUL', 0.01]
[2014, 'AGO', 0.25]
[2014, 'SET', 0.57]
[2014, 'OUT', 0.42]
[2014, 'NOV', 0.51]
[2014, 'DEZ', 0.78]
[2015, 'JAN', 1.24]
[2015, 'FEV', 1.22]
[2015, 'MAR', 1.32]
[2015, 'ABR', 0.71]
[2015, 'MAI', 0.74]
[2015, 'JUN', 0.79]
[2015, 'JUL', 0.62]
[2015, 'AGO', 0.22]
[2015, 'SET', 0.54]
[2015, 'OUT', 0.82]
[2015, 'NOV', 1.01]
[2015, 'DEZ', 0.96]
[2016, 'JAN', 1.27]
[2016, 'FEV', 0.9]
[2016, 'MAR', 0.43]
[2016, 'ABR', 0.61]
[2016, 'MAI', 0.78]
[2016, 'JUN', 0.35]
[2016, 'JUL', 0.52]
[2016, 'AGO', 0.44]
[2016, 'SET', 0.08]
[2016, 'OUT', 0.26]
[2016, 'NOV', 0.18]
[2016, 'DEZ', 0.3]
[2017, 'JAN', 0.38]
[2017, 'FEV', 0.33]
[2017, 'MAR', 0.25]
[2017, 'ABR', 0.14]
[2017, 'MAI', 0.31]
[2017, 'JUN', -0.23]
[2017, 'JUL', 0.24]
[2017, 'AGO', 0.19]
[2017, 'SET', 0.16]
[2017, 'OUT', 0.42]
[2017, 'NOV', 0.28]
[2017, 'DEZ', 0.44]
[2018, 'JAN', 0.29]
[2018, 'FEV', 0.32]
[2018, 'MAR', 0.09]
[2018, 'ABR', 0.22]
[2018, 'MAI', 0.4]
[2018, 'JUN', 1.26]
[2018, 'JUL', 0.33]
[2018, 'AGO', -0.09]
[2018, 'SET', 0.48]
[2018, 'OUT', 0.45]
[2018, 'NOV', -0.21]
[2018, 'DEZ', 0.15]
[2019, 'JAN', 0.32]
[2019, 'FEV', 0.43]
[2019, 'MAR', 0.75]
[2019, 'ABR', 0.57]
[2019, 'MAI', 0.13]
[2019, 'JUN', 0.01]
[2019, 'JUL', 0.19]
[2019, 'AGO', 0.11]
[2019, 'SET', -0.04]
[2019, 'OUT', 0.1]
[2019, 'NOV', 0.51]
[2019, 'DEZ', 1.15]
[2020, 'JAN', 0.21]
[2020, 'FEV', 0.25]
[2020, 'MAR', 0.07]
[2020, 'ABR', -0.31]
[2020, 'MAI', -0.38]
[2020, 'JUN', 0.26]
[2020, 'JUL', 0.36]
[2020, 'AGO', 0.24]
[2020, 'SET', 0.64]
[2020, 'OUT', 0.86]
[2020, 'NOV', 0.89]
[2020, 'DEZ', 1.35]
[2021, 'JAN', 0.25]
[2021, 'FEV', 0.86]

In [142]:
data_str = [str(hist.iloc[i,1]) + "-" + str(hist.iloc[i, 0]) for i in range(len(hist.mes))]
data_str = pd.Series(data_str)
data_str

0      JAN-1994
1      FEV-1994
2      MAR-1994
3      ABR-1994
4      MAI-1994
         ...
321    OUT-2020
322    NOV-2020
323    DEZ-2020
324    JAN-2021
325    FEV-2021
Length: 326, dtype: object

In [143]:
table_hist = pd.concat([data_str, hist.iloc[:,2]], axis=1)
table_hist.columns = ["Data", "IPCA no Mês"]
table_hist
#for i in range(len(table_hist)):
#    print(list(table_hist.iloc[i,:]))

         Data IPCA no Mês
0    JAN-1994       41.31
1    FEV-1994       40.27
2    MAR-1994       42.75
3    ABR-1994       42.68
4    MAI-1994       44.03
..        ...         ...
321  OUT-2020        0.86
322  NOV-2020        0.89
323  DEZ-2020        1.35
324  JAN-2021        0.25
325  FEV-2021        0.86

[326 rows x 2 columns]

In [144]:

# In[34]:


with pd.ExcelWriter("RENAN STELLET IPCA.xlsx") as writer:
    table_main.to_excel(writer, index=False, sheet_name="Tabela")
    table_hist.to_excel(writer, index=False, sheet_name="IPCA mensal histórico")
    table_peso.to_excel(writer, index=False, sheet_name="Pesos")

workbook = openpyxl.load_workbook("RENAN STELLET IPCA.xlsx")

xcl_main = workbook["Tabela"]
xcl_main.column_dimensions["A"].width = 24
xcl_main.column_dimensions["B"].width = 10
xcl_main.column_dimensions["C"].width = 15
xcl_main.column_dimensions["D"].width = 15
xcl_main.row_dimensions[1].height = 30

xcl_main['B1'].alignment = openpyxl.styles.Alignment(horizontal="center", vertical="center", wrapText=True)
xcl_main['C1'].alignment = openpyxl.styles.Alignment(horizontal="center", vertical="center", wrapText=True)
xcl_main['D1'].alignment = openpyxl.styles.Alignment(horizontal="center", vertical="center", wrapText=True)

xcl_peso = workbook["Pesos"]
xcl_peso.column_dimensions["A"].width = 25
xcl_peso_columntofit = ["B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O"]
for i in xcl_peso_columntofit:
    xcl_peso.column_dimensions[i].width = 15

xcl_hist = workbook["IPCA mensal histórico"]
xcl_hist.column_dimensions["A"].width = 12
xcl_hist.column_dimensions["B"].width = 12

workbook.save("RENAN STELLET IPCA.xlsx")